
.container-box {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 50px;
}

.wrap-box {
  width: 280px;
  padding-left: 20px;
}

.greet-name {
  color: #1D2226;
  font-family: 'Noto Serif', serif;
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.description {
  font-family: 'Noto Serif', serif;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #1D2226;
  opacity: 0.6;
}

.create-button {
  background-color: #CEBAFB;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  color: #090808;
  margin: 8px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-family: 'Noto Serif', serif;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
}

.button-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-1 {
  background-color: #6C25FF;
  color: #fff;
}
@media screen and (min-width: 430px) {
  .container-box {
   padding-bottom: 80px;
 }
}
@media screen and (min-width:768px){
  .wrap-box {
    width: 350px;
    padding-left: 35px;
    margin-bottom:60px;
  }
  .greet-name{
    font-size: 40px;
    margin-left: -6px;
  }
  .description{
    font-size: 20px;
  }
}
@media screen and (min-width:2500px) {
  .wrap-box {
    width: 550px;
    padding-left: 120px;
  }
  .greet-name{
    font-size: 50px; 
  }
  .description{
    font-size: 25px;
  }
  
}